<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:fragment="formulario">

            <!-- FORMULARIO -->
            <div class="row">

                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

                    <form method="post" 
                          th:action="@{/novoCliente}" 
                          data-th-object="${cliente}"
                          novalidate>

                        <label for="basic-url">* Nome Completo:</label>
                        <div class="input-group input_" data-th-classappend="${#fields.hasErrors('nomeCompletoCliente')} ? has-error">
                            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                            <input autocomplete="off" id="nome" data-th-field="*{nomeCompletoCliente}" type="text" class="form-control"  aria-describedby="sizing-addon2" required >
                        </div>

                        <label for="basic-url">* CPF:</label>
                        <div class="input-group input_" data-th-classappend="${#fields.hasErrors('cpfCliente')} ? has-error">
                            <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-globe"></span></span>
                            <input autocomplete="off"  id="cpf" data-th-field="*{cpfCliente}" type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>

                        <label for="basic-url">* Data de Nascimento:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-gift"></span></span>
                            <input autocomplete="off" id="dataN" data-th-field="*{nascCliente}" type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>

                        <div class="form-group">
                            <label for="sel1">* Escolha o Sexo:</label>
                            <select class="form-control" id="sel1">
                                <option>Feminino</option>
                                <option>Masculino</option>
                                <option>Outros</option>
                            </select>
                        </div>

                        <label for="basic-url">Telefone fixo:</label>
                        <div class="input-group input_">
                            <div class="telefone_1 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="input-group" data-th-classappend="${#fields.hasErrors('dddTelefone')} ? has-error">
                                    <span class="input-group-addon" id="sizing-addon2">DDD</span>
                                    <input autocomplete="off" type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                            <div class="telefone_2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="input-group" data-th-classappend="${#fields.hasErrors('telefone')} ? has-error">
                                    <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-phone"></span></span>
                                    <input autocomplete="off" type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                        </div>
                        <label for="basic-url">Telefone celular:</label>
                        <div class="input-group input_">
                            <div class="telefone_1 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="input-group" data-th-classappend="${#fields.hasErrors('dddCelular')} ? has-error">
                                    <span class="input-group-addon" id="sizing-addon2">DDD</span>
                                    <input autocomplete="off" type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                            <div class="telefone_2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="input-group" data-th-classappend="${#fields.hasErrors('celular')} ? has-error">
                                    <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-phone"></span></span>
                                    <input autocomplete="off" type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cep">CEP</label>
                            <div class="input-group input_">
                                <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-map-marker"></span></span>
                                <input autocomplete="off" id="cep" class="form-control" aria-describedby="sizing-addon2" type="text" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="logradouro">* Logradouro</label>
                            <div class="input-group input_" data-th-classappend="${#fields.hasErrors('logradouroCliente')} ? has-error">
                                <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-map-marker"></span></span>
                                <input autocomplete="off" id="logradouro" class="form-control" data-th-field="*{logradouroCliente}" aria-describedby="sizing-addon2" type="text" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="numero">Número</label>
                            <div class="input-group input_" data-th-classappend="${#fields.hasErrors('numeroCliente')} ? has-error">
                                <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-map-marker"></span></span>
                                <input autocomplete="off" id="numero"  class="form-control" data-th-field="*{numeroCliente}"  aria-describedby="sizing-addon2"  type="text" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="complemento">* Complemento</label>
                            <div class="input-group input_" data-th-classappend="${#fields.hasErrors('complementoCliente')} ? has-error">
                                <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-map-marker"></span></span>
                                <input autocomplete="off" id="complemento"  class="form-control" data-th-field="*{complementoCliente}"  aria-describedby="sizing-addon2"  type="text"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="bairro">* Bairro</label>
                            <div class="input-group input_" data-th-classappend="${#fields.hasErrors('bairroCliente')} ? has-error">
                                <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-map-marker"></span></span>
                                <input autocomplete="off" id="bairro" type="text" data-th-field="*{bairroCliente}" class="form-control"  aria-describedby="sizing-addon2" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cidade">* Cidade</label>
                            <div class="input-group input_" data-th-classappend="${#fields.hasErrors('cidadeCliente')} ? has-error">
                                <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-map-marker"></span></span>
                                <input autocomplete="off" id="cidade" type="text" data-th-field="*{cidadeCliente}" class="form-control"  aria-describedby="sizing-addon2" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="uf">* Estado</label>
                            <div class="input-group input_">
                                <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-map-marker"></span></span>
                                <select class="form-control" id="uf">
                                    <option value="AC">Acre</option>
                                    <option value="AL">Alagoas</option>
                                    <option value="AP">Amapá</option>
                                    <option value="AM">Amazonas</option>
                                    <option value="BA">Bahia</option>
                                    <option value="CE">Ceará</option>
                                    <option value="DF">Distrito Federal</option>
                                    <option value="ES">Espírito Santo</option>
                                    <option value="GO">Goiás</option>
                                    <option value="MA">Maranhão</option>
                                    <option value="MT">Mato Grosso</option>
                                    <option value="MS">Mato Grosso do Sul</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="PA">Pará</option>
                                    <option value="PB">Paraíba</option>
                                    <option value="PR">Paraná</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="PI">Piauí</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="RO">Rondônia</option>
                                    <option value="RR">Roraima</option>
                                    <option value="SC">Santa Catarina</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="SE">Sergipe</option>
                                    <option value="TO">Tocantins</option>
                                </select>
                            </div>
                        </div>

                        <label for="basic-url">* Como podemos te chamar: </label>
                        <div class="input-group input_" data-th-classappend="${#fields.hasErrors('apelidoCliente')} ? has-error">
                            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                            <input autocomplete="off" type="text" data-th-field="*{apelidoCliente}" class="form-control"  aria-describedby="sizing-addon2">
                        </div>

                        <label for="basic-url">* Email:</label>
                        <div class="input-group input_" data-th-classappend="${#fields.hasErrors('emailCliente')} ? has-error">
                            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-envelope"></span></span>
                            <input autocomplete="off" data-th-field="*{emailCliente}" type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>

                        <label for="basic-url">* Senha:</label>
                        <div class="input-group input_" data-th-classappend="${#fields.hasErrors('senhaCliente')} ? has-error">
                            <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-th"></span></span>
                            <input autocomplete="off" data-th-field="*{senhaCliente}"  type="password" class="form-control"  aria-describedby="sizing-addon2">
                        </div>

                        <button type="submit" class="button button-raised button-primary button-pill botaoC">Cadastrar</button>
                        <br />
                        <p class="textCampo text-right">* Campos obrigatórios</p>

                    </form>

                </div>

            </div>

        </div>

    </body>

</html>
