<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:fragment="formulario">

            <!-- FORMULARIO -->
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div id="fisica">

                        <label for="basic-url">* Nome Completo:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>

                        <label for="basic-url">* CPF:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-globe"></span></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>

                        <label for="basic-url">* Data de Nascimento:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-gift"></span></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>

                        <label for="basic-url">* Telefone:</label>
                        <div class="input-group input_">
                            <div class="telefone_1 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">DDD</span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                            <div class="telefone_2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-phone"></span></span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                        </div>

                        <label for="basic-url">* Celular:</label>
                        <div class="input-group input_">
                            <div class="telefone_1 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">DDD</span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                            <div class="telefone_2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-mobile"></span></span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                        </div>

                        <label for="basic-url">Adicionar outro(s) numeros <button class="button-primary button-circle button-tiny"><i class="fa fa-plus"></i></button></label>
                        <br />

                        <label for="basic-url">* Sexo:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-venus-mars"></span></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>

                    </div>

                    <div class="esconderForm" id="juridico">

                        <label for="basic-url">* Razão Social:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-building-o"></span></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>

                        <label for="basic-url">* CNPJ:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-globe"></span></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>

                        <label for="basic-url">* Inscrição Estadual:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>

                        <label for="basic-url">* Telefone:</label>
                        <div class="input-group input_">
                            <div class="telefone_1 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">DDD</span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                            <div class="telefone_2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-phone"></span></span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                        </div>

                        <label for="basic-url">* Celular:</label>
                        <div class="input-group input_">
                            <div class="telefone_1 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">DDD</span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                            <div class="telefone_2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-mobile"></span></span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                        </div>

                        <label for="basic-url">Adicionar outro(s) numeros  <button class="button-primary button-circle button-tiny"><i class="fa fa-plus"></i></button></label>
                        <br />
                    </div>  

                    <label for="basic-url">* Como podemos te chamar: </label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <label for="basic-url">* Email:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <label for="basic-url">* Confirmar email:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <label for="basic-url">* Senha:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-th"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <label for="basic-url">* Confirmar senha:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-th"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="">Desejo receber ofertas de produtos e serviços</label>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="">Desejo receber ofertas por SMS grátis no celular</label>
                    </div>

                    <a class="button button-raised button-primary button-pill botaoC">Cadastrar</a>
                    <br />
                    <p class="textCampo text-right">* Campos obrigatórios</p>

                </div>

            </div>

        </div>

    </body>

</html>
