 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:fragment="menu_rodape">
            <div class="row footer">
                <div class="container_p col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <footer id="footer-Section">
                        <div class="footer-top-layout">
                            <div class="container">
                                <div class="row">
                                    <div class=" col-lg-8 col-lg-offset-2">
                                        <div class="col-sm-4">
                                            <div class="footer-col-item">
                                                <h4>Menu</h4>
                                                <div class="item-contact"> 
                                                    <a data-th-href="@{/}">Home</a> 
                                                    <a data-th-href="@{/sobreEmpresa}">Sobre a empresa</a> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="footer-col-item">
                                                <h4>Formas de pagamento</h4>
                                                <div class="item-contact"> 
                                                    <a>Cartão:</a> 
                                                    <a>Vista</a>
                                                    <a>MasterCard</a> 
                                                    <a>Discover</a> 
                                                    <a>American Express</a> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="footer-col-item">
                                                <h4>Entre em contato</h4>
                                                <a data-th-href="@{/sac}">SAC</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom-layout">
                            <div class="copyright-tag">Copyright © 2017 Developed by Enumeration. All Rights Reserved for this company.</div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>
