<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:fragment="menu_topo">
            <!-- TITULO -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menu_topo">
                    <a title="Home" th:href="@{/}" class="titulo">Loop4`S V1d4 Lok4</a>
                    <a data-th-href="@{/login}" sec:authorize="!isAuthenticated()" type="button" class="icone_login fa fa-sign-in"></a>
                    <a title="Perfil!" sec:authorize="hasRole('ROLE_JOSELITO')" data-th-href="@{/admin/perfil}" type="button" class="icone_usuario fa fa-user-o"></a>
                    <a title="Logout!" sec:authorize="hasRole('ROLE_JOSELITO')" data-th-href="@{/logout}" type="button" class="icone_logout fa fa-sign-out"></a>
                    <a title="Carrinho!" type="button" data-th-href="@{/sessao/carrinho}" class="icone_carrinho_Topo fa fa-shopping-cart"></a>
                </div>
        </div>
    </div>
</body>
</html>
