<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:fragment="referencias">
        <link rel="apple-touch-icon" sizes="57x57" href="../../static/images/icone_navegador/apple-icon-57x57.png" data-th-href="@{/images/icone_navegador/apple-icon-57x57.png}">
        <link rel="apple-touch-icon" sizes="60x60" href="../../static/images/icone_navegador/apple-icon-60x60.png" data-th-href="@{/images/icone_navegador/apple-icon-60x60.png}">
        <link rel="apple-touch-icon" sizes="72x72" href="../../static/images/icone_navegador/apple-icon-72x72.png.png" data-th-href="@{/images/icone_navegador/apple-icon-72x72.png}">
        <link rel="apple-touch-icon" sizes="76x76" href="../../static/images/icone_navegador/apple-icon-76x76.png" data-th-href="@{/images/icone_navegador/apple-icon-76x76.png}">
        <link rel="apple-touch-icon" sizes="114x114" href="../../static/images/icone_navegador/apple-icon-114x114.png" data-th-href="@{/images/icone_navegador/apple-icon-114x114.png}">
        <link rel="apple-touch-icon" sizes="120x120" href="../../static/images/icone_navegador/apple-icon-120x120.png" data-th-href="@{/images/icone_navegador/apple-icon-120x120.png}">
        <link rel="apple-touch-icon" sizes="144x144" href="../../static/images/icone_navegador/apple-icon-144x144.png" data-th-href="@{/images/icone_navegador/apple-icon-144x144.png}">
        <link rel="apple-touch-icon" sizes="152x152" href="../../static/images/icone_navegador/apple-icon-152x152.png" data-th-href="@{/images/icone_navegador/apple-icon-152x152.png}">
        <link rel="apple-touch-icon" sizes="180x180" href="../../static/images/icone_navegador/apple-icon-180x180.png" data-th-href="@{/images/icone_navegador/apple-icon-180x180.png}">
        <link rel="icon" type="image/png" sizes="192x192" href="../../static/images/icone_navegador/android-icon-192x192.png" data-th-href="@{/images/icone_navegador/android-icon-192x192.png}">
        <link rel="icon" type="image/png" sizes="32x32" href="../../static/images/icone_navegador/favicon-32x32.png" data-th-href="@{/images/icone_navegador/favicon-32x32.png}">
        <link rel="icon" type="image/png" sizes="96x96" href="../../static/images/icone_navegador/favicon-96x96.png" data-th-href="@{/images/icone_navegador/favicon-96x96.png}">
        <link rel="icon" type="image/png" sizes="16x16" href="../../static/images/icone_navegador/favicon-16x16.png" data-th-href="@{/images/icone_navegador/favicon-16x16.png}">
        <link rel="manifest" href="../../static/images/icone_navegador/manifest.json" th:href="@{/images/icone_navegador/manifest.json}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" th:content="@{images/icone_navegador/ms-icon-144x144.png}">
        <meta name="theme-color" content="#ffffff">
        <link data-th-href="@{/IncornButtons/incornbuttons.css}" href="../../static/IncornButtons/incornbuttons.css" rel="stylesheet" type="text/css"/>
        <link data-th-href="@{/Font-Awesome/css/font-awesome.css}" href="../../static/Font-Awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link data-th-href="@{/Bootstrap/css/bootstrap.css}" href="../../static/Bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    </div>
</head>
<body>
    <div>TODO write content</div>
</body>
</html>
