<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Loop4'$ V1d4 Lok4</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" sizes="57x57" th:href="@{/images/icone_navegador/apple-icon-57x57.png}">
        <link rel="apple-touch-icon" sizes="60x60" th:href="@{/images/icone_navegador/apple-icon-60x60.png}">
        <link rel="apple-touch-icon" sizes="72x72" th:href="@{/images/icone_navegador/apple-icon-72x72.png}">
        <link rel="apple-touch-icon" sizes="76x76" th:href="@{/images/icone_navegador/apple-icon-76x76.png}">
        <link rel="apple-touch-icon" sizes="114x114" th:href="@{/images/icone_navegador/apple-icon-114x114.png}">
        <link rel="apple-touch-icon" sizes="120x120" th:href="@{/images/icone_navegador/apple-icon-120x120.png}">
        <link rel="apple-touch-icon" sizes="144x144" th:href="@{/images/icone_navegador/apple-icon-144x144.png}">
        <link rel="apple-touch-icon" sizes="152x152" th:href="@{/images/icone_navegador/apple-icon-152x152.png}">
        <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/icone_navegador/apple-icon-180x180.png}">
        <link rel="icon" type="image/png" sizes="192x192" th:href="@{/images/icone_navegador/android-icon-192x192.png}">
        <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/icone_navegador/favicon-32x32.png}">
        <link rel="icon" type="image/png" sizes="96x96" th:href="@{/images/icone_navegador/favicon-96x96.png}">
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/icone_navegador/favicon-16x16.png}">
        <link rel="manifest" th:href="@{/images/icone_navegador/manifest.json}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" th:content="@{/images/icone_navegador/ms-icon-144x144.png}">
        <meta name="msapplication-TileImage" th:content="@{images/icone_navegador/ms-icon-144x144.png}">
        <meta name="theme-color" content="#ffffff">
        <link th:href="@{/Bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/Font-Awesome/css/font-awesome.css}" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
        <link th:href="@{/IncornButtons/incornbuttons.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/clienteForm.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/footer.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/css/home.css}" rel="stylesheet" type="text/css"/>

        <script src="http://arquivos.weblibras.com.br/auto/wl-min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <!-- TITULO -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menu_topo">
                    <p class="titulo">Loop4`S V1d4 Lok4</p>
                    <button class="icone_usuario fa fa-user-o"></button>
                    <a th:href="@{/carrinho}"><button class="icone_carrinho_Topo fa fa-shopping-cart"></button></a>
                </div>
            </div>
            <!-- MENU TOPO -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 menu">
                    <ol class="breadcrumb text-center">
                        <li>Home</li>
                        <li>Produtos</li>
                        <li>Contato</li>
                        <li>Contato</li>
                        <li>Contato</li>
                    </ol>
                </div>
            </div>
            <!-- TIPO SELEÇÃO -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 selecao_tipo">
                    <div id="buying-selling-group" class="text-center" data-toggle="buttons">
                        <label class="btn btn-default buying-selling" id="option1">
                            <input type="radio" name="options" autocomplete="off">
                            <span class="radio-dot"></span>
                            <span class="buying-selling-word">Física</span>
                        </label>
                        <label class="btn btn-default buying-selling"  id="option2">
                            <input type="radio" name="options" autocomplete="off">
                            <span class="radio-dot"></span>
                            <span class="buying-selling-word">Jurídica</span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- FORM -->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div id="fisica">
                        <label for="basic-url">* Nome Completo:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>
                        <label for="basic-url">* CPF:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-globe"></span></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>
                        <label for="basic-url">* Data de Nascimento:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-gift"></span></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>
                        <label for="basic-url">* Telefone:</label>
                        <div class="input-group input_">
                            <div class="telefone_1 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">DDD</span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                            <div class="telefone_2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-phone"></span></span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                        </div>
                        <label for="basic-url">* Celular:</label>
                        <div class="input-group input_">
                            <div class="telefone_1 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">DDD</span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                            <div class="telefone_2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-mobile"></span></span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                        </div>
                        <label for="basic-url">Adicionar outro(s) numeros <button class="button-primary button-circle button-tiny"><i class="fa fa-plus"></i></button></label>
                        <br />
                        <label for="basic-url">* Sexo:</label>
                        <div class="form-group">                           
                            <select class="form-control" id="sel1">
                                <option name="masculino">Masculino</option>
                                <option name="feminino">Feminino</option>
                                <option name="outros">Outros</option>
                            </select>
                        </div>
                    </div>
                    <div class="esconderForm" id="juridico">
                        <label for="basic-url">* Razão Social:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-building-o"></span></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>
                        <label for="basic-url">* CNPJ:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-globe"></span></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>
                        <label for="basic-url">* Inscrição Estadual:</label>
                        <div class="input-group input_">
                            <span class="input-group-addon" id="sizing-addon2"></span>
                            <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                        </div>
                        <label for="basic-url">* Telefone:</label>
                        <div class="input-group input_">
                            <div class="telefone_1 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">DDD</span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                            <div class="telefone_2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-phone"></span></span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                        </div>
                        <label for="basic-url">* Celular:</label>
                        <div class="input-group input_">
                            <div class="telefone_1 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2">DDD</span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                            <div class="telefone_2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-mobile"></span></span>
                                    <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                                </div>
                            </div>
                        </div>
                        <label for="basic-url">Adicionar outro(s) numeros  <button class="button-primary button-circle button-tiny"><i class="fa fa-plus"></i></button></label>
                        <br />
                    </div>
                </div>  
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label for="basic-url">* Como podemos te chamar: </label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>
                    <label for="basic-url">* Email:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>
                    <label for="basic-url">* Confirmar email:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>
                    <label for="basic-url">* Senha:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-th"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>
                    <label for="basic-url">* Confirmar senha:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-th"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Desejo receber ofertas de produtos e serviços</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Desejo receber ofertas por SMS grátis no celular</label>
                    </div>
                    <a class="button button-raised button-primary button-pill">Cadastrar</a>
                    <br />
                    <p class="textCampo text-right">* Campos obrigatórios</p>
                </div>
            </div>
            <!-- RODAPE -->
            <div class="row footer">
                <div class="container_p col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                    <footer id="footer-Section">
                        <div class="footer-top-layout">
                            <div class="container">
                                <div class="row">
                                    <div class=" col-lg-8 col-lg-offset-2">
                                        <div class="col-sm-4">
                                            <div class="footer-col-item">
                                                <h4>Menu</h4>
                                                <div class="item-contact"> 
                                                    <a>Home</a> 
                                                    <a>Contato</a>
                                                    <a></a> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="footer-col-item">
                                                <h4>Formas de pagamento</h4>
                                                <div class="item-contact"> 
                                                    <a></a> 
                                                    <a></a>
                                                    <a></a> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="footer-col-item">
                                                <h4>Entre em contato</h4>
                                                <form class="signUpNewsletter" action="" method="get">
                                                    <input name="" class="gt-email form-control" placeholder="You@youremail.com" type="text">
                                                    <input name="" class="btn-go" value="Go" type="button">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-bottom-layout">
                            <div class="copyright-tag">Copyright © 2017 Developed by Enumeration. All Rights Reserved for this company.</div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script th:src="@{/js/clienteCadastro.js}" type="text/javascript"></script>
        <script th:src="@{/Bootstrap/js/bootstrap.js}" type="text/javascript"></script>
        <script th:src="@{/Bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    </body>
</html>

