<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title> Loop4'$ V1d4 Lok4</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
        <link data-th-href="@{/IncornButtons/incornbuttons.css}" href="../../static/IncornButtons/incornbuttons.css" rel="stylesheet" type="text/css"/>
        <link data-th-href="@{/Font-Awesome/css/font-awesome.css}" href="../../static/Font-Awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
        <link data-th-href="@{/Bootstrap/css/bootstrap.css}" href="../../static/Bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link data-th-href="@{/css/home.css}" href="../../static/css/home.css" rel="stylesheet" type="text/css"/>
        <link data-th-href="@{/css/carousel.css}" href="../../static/css/carousel.css" rel="stylesheet" type="text/css"/>
        <link data-th-href="@{/css/footer.css}" href="../../static/css/footer.css" rel="stylesheet" type="text/css"/>
        <link data-th-href="@{/css/produtos.css}" href="../../static/css/produtos.css" rel="stylesheet" type="text/css"/>
        <link data-th-href="@{/css/lateral_menu.css}" href="../../static/css/lateral_menu.css" rel="stylesheet" type="text/css"/>
        <link data-th-href="@{/css/clientePerfil_cards.css}" href="../../static/css/clientePerfil_cards.css" rel="stylesheet" type="text/css"/>
        <link data-th-href="@{/css/carrinho.css}" href="../../static/css/carrinho.css" rel="stylesheet" type="text/css"/>
        <link data-th-href="@{/css/login.css}" href="../../static/css/login.css" rel="stylesheet" type="text/css"/>
        <script src="http://arquivos.weblibras.com.br/auto/wl-min.js"></script>
        <script data-th-src="@{/js/libras.js}" src="../../static/js/libras.js" type="text/javascript"></script>
    </head>
    <body>

        <div class="container-fluid">

            <!-- MENU TOPO -->
            <div th:include="~{clientside/componentes/menu_topo :: menu_topo}"></div>  

            <!-- BUSCA -->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pesquisa">
                    <div class="input-group ">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">GO</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- CAROUSEL -->
            <div class="row carousel_painel">
                <div class="container_p col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="thumbnail-preview-indicators" class="carousel slide slide_config" data-ride="carousel">
                        <!-- INDICADORES -->
                        <ol class="carousel-indicators">
                            <li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
                            </li>
                            <li data-target="#thumbnail-preview-indicators" data-slide-to="1">
                            </li>
                            <li data-target="#thumbnail-preview-indicators" data-slide-to="2">
                            </li>
                        </ol>

                        <!-- SLIDES -->
                        <div class="carousel-inner">
                            <div class="item slides active">
                                <div class="slide-1"></div>
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1 alt="50%">50% de Desconto</h1>
                                        <p>valido até dia 22/10/2015</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item slides">
                                <div class="slide-2"></div>
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>50% de Desconto</h1>
                                        <p>valido até dia 22/10/2015</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item slides">
                                <div class="slide-3"></div>
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h1>50% de Desconto</h1>
                                        <p>valido até dia 22/10/2015</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <!-- CATEGORIAS -->
            <div class="row">

                <div class="col-sm-2 col-md-2 col-lg-2 categoria">

                    <table class="table">
                        <tbody>
                            <tr class="info">
                                <td>Pesquisa:</td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr class="info">
                                <td>Marca:</td>
                            </tr>

                            </div>
                            <tr class="info">
                                <td>Genero:</td>
                            </tr>
                        <div>
                            <tr>
                                <td>
                                    <div>
                                        <input type="checkbox" id="Masculino"/>
                                        <label for="Masculino">
                                            <div><i class="fa fa-check"></i></div> Masculino
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <input type="checkbox" id="Feminino"/>
                                        <label for="Feminino">
                                            <div><i class="fa fa-check"></i></div> Feminino
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <input type="checkbox" id="Outros"/>
                                        <label for="Outros">
                                            <div><i class="fa fa-check"></i></div> Outros
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </div>
                        <tr class="info">
                            <td>Tipo:</td>
                        </tr>
                        <div>
                            <tr>
                                <td>
                                    <div>
                                        <input type="checkbox" id="check1"/>
                                        <label for="check1">
                                            <div><i class="fa fa-check"></i></div> Oculos de Sol
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div>
                                        <input type="checkbox" id="check2"/>
                                        <label for="check2">
                                            <div><i class="fa fa-check"></i></div> Oculos de Grau
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </div>
                        <tr class="info">
                            <td>Preço Minimo:</td>
                        </tr>
                        <div>
                            <tr>
                                <td><input min="0" type="range"></td>
                            </tr>
                        </div>
                        <tr class="info">
                            <td>Preço Maximo:</td>
                        </tr>
                        <div>
                            <tr>
                                <td><input min="0" type="range"></td>
                            </tr>
                        </div>
                        </tbody>
                    </table>
                </div>

                <div data-th-each="produto : ${produtos}" class="col-sm-5 col-md-5 col-lg-5">
                    <div class="blog-card">
                        <div class="photo photo1">
                            <div data-th-each="imagem : ${imagens}">
                                <div th:if="${produto.codigoProduto} == ${imagem.codigoProduto} && ${imagem.sequenciaImagem} == 1"> 
                                    <img class="d-block img-fluid img-responsive" data-th-src="@{/images/oculosTeste.jpg}" />
                                </div>
                            </div>
                            <form action="#" th:action="@{/descricao/{id}(id=${produto.codigoProduto})}" class="botoes" method="post">
                                <input type="hidden" name="id" th:value="${produto.codigoProduto}" />
                                <button type="submit" class="botao_descricao no-wlauto button button-tiny button-circle"><i class="fa fa-info-circle"></i></button>
                            </form>
                        </div>
                        <div class="description">
                            <h1 data-th-text="${produto.tituloProduto}"></h1>
                            <h2 data-th-text="${produto.precoProduto}"></h2>
                            <div class="card-text card_classificacao">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <div class="card-footer">
                                <div data-target="#myCarousel" class="cores" th:style="${produto.corProduto}" type="radio" data-slide-to="0"></div>
                            </div>
                            <div style="width: 100%;">
                                <button class="botoes no-wlauto button button-highlight button-circle"><i class="fa fa-star-o"></i></button> 
                                <form action="#" th:action="@{/sessao/adicionar/{id}(id=${produto.codigoProduto})}" class="botoes" method="post">
                                    <input type="hidden" name="id" th:value="${produto.codigoProduto}" />
                                    <button type="submit" class="no-wlauto button button-primary button-circle btnAdicionarCarrinho"><i class="fa fa-shopping-cart"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- RECOMENDADOS -->
            <div class="row">
                <div class=" col-xs-12 col-sm-12  col-md-12 col-lg-12 ">
                    <div class="recomendacao_texto text-center">Recomendações <i class="icone_recomendacao glyphicon glyphicon-heart-empty"></i></div>
                </div>
            </div>
            <div class="row ">


            </div>

            <!-- RODAPE -->
            <div th:include="~{clientside/componentes/menu_rodape :: menu_rodape}"></div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script data-th-src="@{/Bootstrap/js/bootstrap.js}" src="../../static/Bootstrap/js/bootstrap.js" type="text/javascript"></script>
    </body>
</html>

