<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div th:fragment="meus_dados">

            <div class="panel panel-default">
                <div class="panel-body painel-descricao">
                    Menu Dados
                </div>
                <div class="panel-footer painel-descricao2">

                    <label for="basic-url">* Nome Completo:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <label for="basic-url">* CPF:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-globe"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <label for="basic-url">* Data de Nascimento:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-gift"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <label for="basic-url">
                        * Escolha o tipo do aparelho de contato: <select>
                            <option value="t">Telefone</option>
                            <option value="c">Celular</option>
                        </select>
                    </label>
                    <div class="input-group input_">
                        <div class="telefone_1 col-xs-3 col-sm-3 col-md-3 col-lg-3">
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">DDD</span>
                                <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                            </div>
                        </div>
                        <div class="telefone_2 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-phone"></span></span>
                                <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                            </div>
                        </div>
                        <div class="telefone_2 col-xs-1 col-sm-1 col-md-1 col-lg-1">
                            <a class="button button-raised button-action button-pill">Add</a>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sel1">* Escolha o Sexo:</label>
                        <select class="form-control" id="sel1">
                            <option>Feminino</option>
                            <option>Masculino</option>
                            <option>Outros</option>
                        </select>
                    </div>

                    <label for="basic-url">* Como podemos te chamar: </label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-user"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <label for="basic-url">* Email:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <label for="basic-url">* Confirmar email:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="text" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <label for="basic-url">* Senha:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-th"></span></span>
                        <input type="password" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <label for="basic-url">* Confirmar senha:</label>
                    <div class="input-group input_">
                        <span class="input-group-addon" id="sizing-addon2"><span class="fa fa-th"></span></span>
                        <input type="password" class="form-control"  aria-describedby="sizing-addon2">
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="">Desejo receber ofertas de produtos e serviços</label>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" value="">Desejo receber ofertas por SMS grátis no celular</label>
                    </div>

                    <a class="button button-raised button-highlight button-pill botaoE">Editar</a>
                    <br />
                    <p class="textCampo text-right">* Campos obrigatórios</p>
                </div>
            </div>
    </body>
</html>
