<!DOCTYPE html>
<html layout:decorate="~{backoffice/geral/sidemenu}">
    <head>
        <title>Cadastro de Produtos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/estiloBackofficeCadastroProduto.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <section class="container-fluid" layout:fragment="conteudo">
          <div class="row">
            <h1 class="text-center">Cadastro de Produtos</h1>
            <div id="formulario" class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
              <form class="" th:action="@{/backoffice/produtos/cadastrar}" method="post">

                <div class="form-group">
                  <label for="titulo">Título</label>
                  <input id="titulo" class="form-control" type="text" name="tituloproduto" value="">
                </div>

                <div class="form-group">
                  <label for="qtde">Quantidade</label>
                  <input id="qtde" class="form-control" type="text" name="qtdeproduto" value="">
                </div>

                <div class="form-group">
                  <label for="avalia">Avaliação</label>
                  <input id="avalia" class="form-control" type="text" name="avaliacaoproduto" value="">
                </div>

                <div class="form-group">
                  <label for="modelo">Modelo</label>
                  <input id="modelo" class="form-control" type="text" name="modeloproduto" value="">
                </div>

                <div class="form-group">
                  <label for="cor">Cor</label>
                  <input id="cor" class="form-control" type="color" name="corproduto" value="">
                </div>

                <div class="form-group">
                  <label for="cor-lente">Cor da Lente</label>
                  <input id="cor-lente" class="form-control" type="color" name="corlenteproduto" value="">
                </div>

                <div class="form-group">
                  <label for="genero">Gênero</label>
                  <select id="genero" class="form-control" name="generoproduto">
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="material">Material</label>
                  <input id="material" class="form-control" type="text" name="materialproduto" value="">
                </div>

                <div class="form-group">
                  <label for="tamanho">Tamanho</label>
                  <input id="tamanho" class="form-control" type="text" name="tamanhoproduto" value="">
                </div>

                <div class="form-group">
                  <label for="descricao">Descricão</label>
                  <textarea id="descricao" class="form-control" name="descricaoproduto" rows="8" cols="80"></textarea>
                </div>

                <div class="form-group">
                  <label for="preco">Preço</label>
                  <input id="preco" class="form-control" type="text" name="valorproduto" value="">
                </div>

                <div class="form-group">
                  <label for="altura">Altura</label>
                  <input id="altura" class="form-control" type="text" name="alturaproduto" value="">
                </div>

                <div class="form-group">
                  <label for="largura">Lagura</label>
                  <input id="largura" class="form-control" type="text" name="larguraproduto" value="">
                </div>

                <div class="form-group">
                  <label for="comprimento">Comprimento</label>
                  <input id="comprimento" class="form-control" type="text" name="comprimentoproduto" value="">
                </div>

                <div class="form-group">
                  <label for="peso">Peso</label>
                  <input id="peso" class="form-control" type="text" name="pesoproduto" value="">
                </div>

                <label for="categorias">Categorias</label>
                <div id="categorias" class="checkbox" th:each="c:${categorias}">
                  <input th:id="${c.nomeCategoria}" type="checkbox" name="categoriaproduto" th:value="${c.nomeCategoria}">
                  <label th:for="${c.nomeCategoria}" th:text="${c.nomeCategoria}">Categoria</label>

                </div>

                <div class="">
                  <button class="btn btn-success" type="button" name="button">Salvar</button>
                </div>
              </form>
            </div>
          </div>
        </section>
    </body>
</html>
