<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorate="~{backoffice/geral/sidemenu}">
    <head>
        <title>Detalhe Produto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/estiloBackofficeDetalheProduto.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <section layout:fragment="conteudo" class="container-fluid">
          <div class="row">
            <div id="detalhe" class="col-xs-12 col-sm-12 col-md-8 col-lg-6">

              <div class="">
                <h1 class="text-center" th:text="${produto.tituloProduto}">Título Produto</h1>
              </div>

              <div th:each="img : ${imagens}" class="">
                <img th:src="@{'/images/' + ${img.nomeImagem}}" class="img-responsive">
              </div>

              <div class="">
                <h3>Código</h3>
                <p th:text="${produto.codigoProduto}"></p>
              </div>

              <div class="">
                <h3>Modelo</h3>
                <p th:text="${produto.modeloProduto}"></p>
              </div>

              <div class="">
                <h3>Preço</h3>
                <p th:text="${produto.precoProduto}"></p>
              </div>

              <div class="">
                <h3>Quantidade em Estoque</h3>
                <p th:text="${produto.quantEstoqueProduto}"></p>
              </div>

              <div class="">
                <h3>Cor da Armação</h3>
                <p th:text="${produto.corProduto}"></p>
              </div>

              <div class="">
                <h3>Cor da Lente</h3>
                <p th:text="${produto.lenteCorProduto}"></p>
              </div>

              <div class="">
                <h3>Descrição</h3>
                <p th:text="${produto.descricaoProduto}"></p>
              </div>

              <div class="">
                <h3>Tipo da Lente</h3>
                <p th:text="${produto.lenteTipoProduto}"></p>
              </div>

              <div class="">
                <h3>Data de Cadastro</h3>
                <p th:text="${#calendars.format(produto.dtCadastroProduto, 'dd/MM/yyyy HH:mm:ss')}"></p>
              </div>

              <div class="">
                <h3>Medidas</h3>

                <h4>Altura:</h4>
                <p th:text="${produto.alturaProduto}"></p>

                <h4>Largura</h4>
                <p th:text="${produto.larguraProduto}"></p>

                <h4>Comprimento</h4>
                <p th:text="${produto.comprimentoProduto}"></p>

                <h4>Peso</h4>
                <p th:text="${produto.pesoProduto}"></p>
              </div>

              <div class="">
                <h4>Marca</h4>
                <p th:text="${marca.tituloMarca}"></p>
              </div>

              <div class="">
                <h4>Categorias</h4>
                <div class="" th:each="c : ${categorias}">
                  <p th:text="${c.nomeCategoria}"></p>
                </div>
              </div>
            </div>
          </div>
        </section>
    </body>
</html>
