.center{
    width: 150px;
    margin: 40px auto;

}

.cep{
    padding: 5%;
}


body, html{
    padding: 0;
    margin: 0;
    height: 100%;
}

.panel-heading {
    background-color: hsl(0, 0%, 91%)!important;
}

.panel-footer {
    background-color: hsl(0, 0%, 91%)!important;
}

.panel {
    margin-top: 5%;
    border-color: hsl(0, 0%, 91%);
}

.linhap {
    padding-top: 3%;
}

.frete {
    font-size: 100%;
    font-weight: bold;
}

.h1MeuCarrinho {
    font-weight: bold;
    display: block;
    margin: auto;
    font-size: 120%;
    color: black;
    padding-bottom: 5%;
    font-family: 'Quicksand', sans-serif;
}

.h1Total {
    font-weight: bold;
    font-size: 120%;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.colPreco {
    text-align: right;
}

.colTotal {
    text-align: right;
}

.btnContinuarComprando {
    width: 100%;
    margin-right: 0;
}

.btnComprar {
    width: 100%;
    margin-top: 2%;
}

.btn-info {
    width: 100%;
}

.pFrete {
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

.vazio {
    font-weight: bold;
}

.colModeloProduto {
    text-align: left;
}

@media (max-width: 768px) {
    .btnCalcularCep {
        width: 60%;
    }

    .colTotal {
        text-align: center;
        padding-bottom: 5%;
    }
}
@media (max-width: 760px) {

    .btnCalcularCep {
        width: 100%;
    }

    .colMeuCarrinho {
        text-align: center;
    }

    .colNomeProduto {
        padding-bottom: 5%;
        text-align: center;
    }

    .colPreco {
        text-align: right;
    }

    .colQnt {
        padding-left: 0;
        width: 40%;
    }

    .colTotal {
        text-align: center;
        padding-bottom: 5%;
    }

    .linhap {
        padding-top: 8%;
    }

    .colModeloProduto {
        text-align: center;
    }
}

