.categoria{
    margin-bottom: 30%;
}

.checkboxes-and-radios {
    margin: 80px auto 0;
    padding: 30px;
    background: #fafafa;
}
.checkboxes-and-radios input {
    display: none;
}
.checkboxes-and-radios label {
    cursor: pointer;
    padding-right: 35px;
    position: relative;
    display: block;
    font-size: 18px;
    padding: 15px 0;
}
.checkboxes-and-radios input[type="checkbox"],
.checkboxes-and-radios input[type="radio"] {
    position: absolute;
    visibility: hidden !important;
}
.checkboxes-and-radios input[type="checkbox"] + label:before,
.checkboxes-and-radios input[type="radio"] + label:before,
.checkboxes-and-radios input[type="checkbox"] + label:after,
.checkboxes-and-radios input[type="radio"] + label:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -7.5px;
    box-sizing: border-box;
}
.checkboxes-and-radios input[type="checkbox"] + label:before,
.checkboxes-and-radios input[type="radio"] + label:before {
    width: 30px;
    height: 15px;
    right: 0px;
    background: #fff;
    border: 1px solid #e4e3e1;
    border-radius: 15px;
}
.checkboxes-and-radios input[type="checkbox"] + label:after,
.checkboxes-and-radios input[type="radio"] + label:after {
    width: 15px;
    height: 15px;
    right: 15px;
    background: #BDBDBD;
    border-radius: 50%;
    -webkit-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
.checkboxes-and-radios input[type="checkbox"]:checked + label:after,
.checkboxes-and-radios input[type="radio"]:checked + label:after {
    right: 0px;
    background: #FF9800;


}


input{ 

    display:none; 

}

label div{
    width:23px;
    height:23px;
    display:inline-block;
    border:2px solid black;
    text-align:center;
    line-height:20px;
    margin-right:6px;	
    border-radius:3px;
    cursor:pointer;	
}

label i{ 
    font-size:16px;	
    opacity:0; 
}
label:hover div{ 
    background:#BDBDBD; 
}
input:checked+label i{ 
    opacity:1; 
}
input:checked+label div{ 
    background:#BDBDBD; 
}