<html layout:decorate="~{backoffice/geral/sidemenu}">
    <head>
        <title>Relatório</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section layout:fragment="conteudo" class="container-fluid">

            <form class="" th:action="@{/backoffice/relatorio/pesquisar}" method="post">

                <label for="">Pedidos de:</label>
                <input type="text" onkeypress="mascara(this, '##/##/####')" maxlength="10" name="data-de" value="">

                <label for="">Pedidos até:</label>
                <input type="text" onkeypress="mascara(this, '##/##/####')" maxlength="10" name="data-ate" value="">
            </form>

            <div class="">
                <table class="col-xs-12 col-sm-12 col-md-8 col-lg-8 table table-hover">
                    <thead>
                        <tr>
                            <th>Protocolo do Pedido</th>
                            <th>Data do Pedido</th>
                            <th>Forma de Pagamento</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pedido : ${pedidos}">
                            <td th:text="${pedido.protocoloPedido}"></td>
                            <td th:text="${pedido.dataPedido}"></td>
                            <td th:text="${pedido.formaPagamentoPedido}"></td>  
                            <td th:text="${pedido.valorPedido}"></td>  
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>
        <script data-th-src="@{/js/mascara.js}" type="text/javascript"></script>
    </body>
</html>
